{% extends "empty.html" %}

{% block css %}
<style type="text/css">

 </style>
{% endblock %}

{% block scripts %}
    <script src="http://trifacta.github.io/vega/lib/d3.v3.min.js"></script>
    <script src="http://trifacta.github.io/vega/vega.js"></script>

  <script type="text/javascript">
        function parse(spec, id) {
          vg.parse.spec(spec, function(chart) {
              var view = chart({el:id})
                .on("mouseover", function(event, item) {
                  view.update({
                    props: "hover",
                    items: item.cousin(1)
                  });
                })
                .on("mouseout", function(event, item) {
                  view.update({
                    props: "update",
                    items: item.cousin(1),
                    duration: 250,
                    ease: "linear"
                  });
                })
                .update();
            });
        }
        $(document).ready(function(){
            $.post("{{ url_for('graficos.api_vendas_dia') }}", {}, function(data){
                data = jQuery.parseJSON(data);
                parse(data, '#graph');
            });
        });



  </script>

{% endblock %}

{% block body %}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gráficos
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Gráficos</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="graph"></div>
        <div id="graph_2"></div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

{% endblock %}